In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(r"C:\Users\HP EliteDisk I5 4G\Downloads\I love mamlak\QCM3.csv")
df.head()

,0.799_0.201,0.799_0.201.1,0.700_0.300,0.700_0.300.1,0.600_0.400,0.600_0.400.1,0.501_0.499,0.501_0.499.1,0.400_0.600,0.400_0.600.1,1-Octanol,1-Propanol,2-Butanol,2-propanol,1-isobutanol
0,"-10,06","-10,62","-14,43","-18,31","-24,64","-30,56","-38,62","-45,59","-54,89","-62,28",1,0,0,0,0
1,"-9,69","-10,86","-16,73","-21,75","-28,47","-35,83","-43,65","-52,43","-61,92","-71,27",1,0,0,0,0
2,"-12,07","-14,28","-21,54","-27,92","-35,19","-43,94","-52,04","-62,49","-71,97","-83,1",1,0,0,0,0
3,"-14,21","-17,41","-25,91","-33,36","-41,29","-51,27","-59,94","-71,55","-81,51","-93,83",1,0,0,0,0
4,"-16,57","-20,35","-29,97","-37,84","-47,03","-57,29","-67,13","-78,96","-90,01","-102,65",1,0,0,0,0

In [10]:
X = df.iloc[: , 0:10]
y = df.iloc[: , 10:15]

In [16]:
from sklearn.model_selection import train_test_split
X_train , X_test ,y_train , y_test = train_test_split(X , y , test_size = 0.2)

In [65]:
X_train["0.501_0.499"] = X_train["0.501_0.499"].replace(",",".").astype(float)
X_train["0.501_0.499.1"] = X_train["0.501_0.499.1"].replace(",",".").astype(float)
X_train["0.400_0.600"] = X_train["0.400_0.600"].replace(",",".").astype(float)
X_train["0.501_0.499.1*"] = X_train["0.501_0.499.1*"].replace(",",".").astype(float)

In [95]:
X_test["0.501_0.499"] = X_test["0.501_0.499"].str.replace(",",".").astype(float)
X_test["0.501_0.499.1"] = X_test["0.501_0.499.1"].str.replace(",",".").astype(float)
X_test["0.400_0.600"] = X_test["0.400_0.600"].str.replace(",",".").astype(float)
X_test["0.400_0.600.1"] = X_test["0.400_0.600.1"].str.replace(",",".").astype(float)
X_test

,0.799_0.201,0.799_0.201.1,0.700_0.300,0.700_0.300.1,0.600_0.400,0.600_0.400.1,0.501_0.499,0.501_0.499.1,0.400_0.600,0.400_0.600.1
22,-66.42,-72.72,-103.32,-112.74,-152.73,-161.12,-215.40,-217.42,-269.84,-271.73
0,-10.06,-10.62,-14.43,-18.31,-24.64,-30.56,-38.62,-45.59,-54.89,-62.28
10,-88.03,-76.88,-128.47,-124.36,-177.13,-175.21,-220.91,-218.92,-274.27,-268.55
2,-12.07,-14.28,-21.54,-27.92,-35.19,-43.94,-52.04,-62.49,-71.97,-83.10
16,-67.95,-76.82,-95.08,-105.21,-123.29,-132.91,-146.27,-153.75,-176.94,-184.07

array([[-4.87935811e-01, -8.86882169e-02, -7.08141248e-01,
        -1.81839836e-01, -5.64738663e-01, -8.86882169e-02,
        -3.85624121e-01,  1.28630054e-01, -2.50933164e-01,
         2.30995169e-01, -2.01561454e-02,  1.28630054e-01],
       [-8.28340291e-03, -4.06363199e-01, -1.24116010e-01,
        -4.64303031e-01, -3.32422833e-01, -4.06363199e-01,
        -7.28126770e-01, -9.58493675e-01, -7.89594741e-01,
        -1.01671596e+00, -6.40779064e-01, -9.58493675e-01],
       [-1.01633842e+00, -7.01753517e-01, -8.65433412e-01,
        -8.84342418e-01, -9.28840928e-01, -7.01753517e-01,
        -8.90559798e-01, -1.05410650e+00, -9.53095095e-01,
        -1.06729885e+00, -1.06449949e+00, -1.05410650e+00],
       [-1.07830902e+00, -7.90892169e-01, -9.28463846e-01,
        -9.45819701e-01, -9.22082649e-01, -7.90892169e-01,
        -7.67103643e-01, -9.26887774e-01, -6.84224439e-01,
        -8.14384427e-01, -1.04439239e+00, -9.26887774e-01],
       [ 3.79879749e-02, -3.33819509e-01,  1.41534556e-02,
        -3.47330037e-01, -2.12040994e-01, -3.33819509e-01,
        -6.10137959e-01, -8.71229584e-01, -8.90210343e-01,
        -1.10102077e+00, -5.41469588e-01, -8.71229584e-01],
       [-5.42883072e-01, -1.05757320e-01, -7.31706680e-01,
        -1.68879760e-01, -5.07926883e-01, -1.05757320e-01,
        -3.63931111e-01,  1.54670136e-01, -1.65655306e-01,
         3.32160936e-01,  5.11995517e-02,  1.54670136e-01],
       [ 2.15944802e+00,  2.23839956e+00,  2.12737652e+00,
         2.19118331e+00,  2.05683988e+00,  2.23839956e+00,
         2.01577448e+00,  1.92638961e+00,  1.97886809e+00,
         1.84964745e+00,  2.06166471e+00,  1.92638961e+00],
       [-3.77215014e-01,  2.46316646e-02, -6.03090524e-01,
        -9.54393290e-02, -7.62629511e-01,  2.46316646e-02,
        -7.13488398e-01, -1.75700981e-01, -6.18118761e-01,
        -7.25021333e-02, -2.48935751e-01, -1.75700981e-01],
       [-9.75210601e-02, -6.34425387e-01,  1.07847344e-01,
        -2.68572652e-01,  2.11618602e-01, -6.34425387e-01,
         3.78393118e-01,  1.71566372e-01,  3.76533952e-01,
         1.97273246e-01, -6.89526530e-02,  1.71566372e-01],
       [ 4.11071616e-03, -4.90760433e-01,  2.01257311e-01,
        -1.44953466e-01,  5.00957408e-01, -4.90760433e-01,
         6.18250792e-01,  4.22227009e-01,  6.13655477e-01,
         4.16465742e-01,  2.72622900e-01,  4.22227009e-01],
       [-4.04895213e-01,  4.24356879e-03, -6.40568080e-01,
        -1.25014887e-01, -7.61573530e-01,  4.24356879e-03,
        -5.73453844e-01, -4.41091160e-02, -4.54158275e-01,
         4.55245953e-02, -2.36184905e-01, -4.41091160e-02],
       [-4.32988549e-01, -3.55843394e-02, -6.71799376e-01,
        -1.51931968e-01, -6.59988153e-01, -3.55843394e-02,
        -4.70103405e-01,  5.13049249e-02, -3.41885988e-01,
         1.46690363e-01, -1.27802712e-01,  5.13049249e-02],
       [-1.10764176e+00, -8.18392391e-01, -9.40388522e-01,
        -9.43161224e-01, -8.36548184e-01, -8.18392391e-01,
        -6.63400472e-01, -8.19745757e-01, -5.76706852e-01,
        -7.13218660e-01, -9.37726655e-01, -8.19745757e-01],
       [ 2.34618608e+00,  2.54896242e+00,  2.38801588e+00,
         2.57699481e+00,  2.32759342e+00,  2.54896242e+00,
         2.30307459e+00,  2.30645554e+00,  2.27933450e+00,
         2.22058859e+00,  2.44026676e+00,  2.30645554e+00],
       [-1.05765215e+00, -7.55805679e-01, -8.98936075e-01,
        -9.20231859e-01, -9.42991074e-01, -7.55805679e-01,
        -8.52993854e-01, -1.01494698e+00, -8.32540425e-01,
        -9.49272117e-01, -1.07651471e+00, -1.01494698e+00],
       [ 1.48522860e-02, -4.56622226e-01,  2.19996089e-01,
        -1.06405547e-01,  5.68117802e-01, -4.56622226e-01,
         6.59696787e-01,  4.65958445e-01,  6.51539706e-01,
         4.67048626e-01,  3.53051315e-01,  4.65958445e-01],
       [ 2.18756201e-02, -3.58000739e-01, -2.78668338e-02,
        -4.01164199e-01, -2.61038514e-01, -3.58000739e-01,
        -6.63576838e-01, -9.22117072e-01, -9.06314975e-01,
        -1.13474269e+00, -5.94434642e-01, -9.22117072e-01],
       [ 2.06194762e+00,  2.09900188e+00,  2.01210465e+00,
         2.04230859e+00,  1.93561326e+00,  2.09900188e+00,
         1.88896737e+00,  1.77909418e+00,  1.84849726e+00,
         1.69789880e+00,  1.91404914e+00,  1.77909418e+00],
       [-3.34847783e-02, -5.39122893e-01,  1.72865224e-01,
        -1.81839836e-01,  4.21970026e-01, -5.39122893e-01,
         5.63048254e-01,  3.65574922e-01,  5.83133366e-01,
         3.82743820e-01,  1.73068216e-01,  3.65574922e-01],
       [-1.26006877e-03, -3.99251072e-01, -1.03105865e-01,
        -4.79256965e-01, -3.29888479e-01, -3.99251072e-01,
        -7.44705169e-01, -9.84533757e-01, -8.68123992e-01,
        -1.11788173e+00, -6.64073879e-01, -9.84533757e-01]])

In [102]:
# Feature Scalling :
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

ValueError: X has 10 features, but this StandardScaler is expecting 12 features as input.

In [106]:
# Trainging And Modeling the Model :
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5)
classifier.fit(X_train , y_train)

KNeighborsClassifier()

In [109]:
X_test

,0.799_0.201,0.799_0.201.1,0.700_0.300,0.700_0.300.1,0.600_0.400,0.600_0.400.1,0.501_0.499,0.501_0.499.1,0.400_0.600,0.400_0.600.1
22,-66.42,-72.72,-103.32,-112.74,-152.73,-161.12,-215.40,-217.42,-269.84,-271.73
0,-10.06,-10.62,-14.43,-18.31,-24.64,-30.56,-38.62,-45.59,-54.89,-62.28
10,-88.03,-76.88,-128.47,-124.36,-177.13,-175.21,-220.91,-218.92,-274.27,-268.55
2,-12.07,-14.28,-21.54,-27.92,-35.19,-43.94,-52.04,-62.49,-71.97,-83.10
16,-67.95,-76.82,-95.08,-105.21,-123.29,-132.91,-146.27,-153.75,-176.94,-184.07